<app-header></app-header>

<h2 class="head-view">Category</h2>

<form [formGroup]="categoryForm" (ngSubmit)="onSubmit(categoryForm)">

  <div class="form-group contain">
    <label for="name">
      Name
    </label>
    <input id="name" type="text" class="form-control" formControlName="name" placeholder="Enter Name">
  </div>

  <div class="form-group contain">
    <label for="slug">
      Slug
    </label>
    <input id="slug" type="text" class="form-control" formControlName="slug" placeholder="Enter Slug">
  </div>

  <div class="wrapper">
    <button type="submit" class="btn btn-primary button">Add Category</button>
  </div>

</form>